<style type="text/css">
	ul li{
		display: inline;
	}
	img{
		width: 200px;
		height:200px;
	}

	.homemain
	{
		background-color: white;
	}
</style>

	<div ng-include src="'../app/navbar.html'"></div>
<!-- <br>	
	<br>	 -->
	<div class="row homemain">
		<div class="col-md-3">
			<div class="row">
				<div class="col-md-12">
					ghjg		
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					gygygt
				</div>
			</div>
		</div>
		<div class="col-md-9">
			<div class="col-md-6">	
				<a href="#!/blog"><img src="assets/images/rsz_blogicon.jpg" alt=""></a>
			</div>
			<div class="col-md-6">	
				<a href=""><img src="assets/images/rsz_forum-icon.png" alt=""></a>
			</div>
			<div class="col-md-6">	
				<a href=""><img src="assets/images/events.png" alt=""></a>
			</div>
			<div class="col-md-6">	
				<a href=""><img src="assets/images/rsz_jobs.png" alt=""></a>
			</div>
			<!-- <ul>\
				<li>
					
				</li>
				<li>
					
				</li>
				<li>
					
				</li>
				<li>
					
				</li>
			</ul> -->
		</div>
	<!-- <div class="col-md-3">
		
</div> -->
</div>